html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,
b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}
body {background:#fff;color:#000;font:14px Helvetica, sans-serif;position:relative;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary { display:block;}
table {border-collapse:collapse;border-spacing:0;}
ul {list-style:none;}
input, select {vertical-align:middle;}

h1, h2, h3, h4, h5 {margin:0.5em 0; line-height:1.1em;}
h1 {	font-size:2.52em;} 
h2 {	font-size:1.952em;} 
h3 {	font-size:1.652em;} 
h4 {	font-size:1.452em;} 
h5 {	font-size:1.252em;} 
h6 {	font-size:1.52em;}

a {	color:#525252;	}
a:hover, a:focus { text-decoration:underline;}
a:active, a:visited { }

.left  { float:left	}
.right { float:right }
.clear { clear:both; }
.hide  { display:none } 
.block {display:block !important;} 
.inline {display:inline !important;}

.align_right    { text-align:right;	  }
.align_left     { text-align:left;	  }
.align_center   { text-align:center;  }
.align_justify  { text-align:justify; }

.bold {font-weight:600;}
.italic {font-style:italic;}

del {text-decoration: line-through;}


